html,
body {
    max-width: 1920px;
    height: 100%;
    @extend %AnPro-Regular;
    color: $text;
    position: relative;
    overflow-x: hidden;
    margin: 0 auto;
    background-color: $background;
}
.wrapper {
    display: flex;
    flex-direction: column;
    min-height: 100%;
}

.main {
    flex: 1 0 auto;
}

.footer {
    flex: 0 0 auto;
}
.container{
  max-width: 1280px;
  margin: 0 auto;
  padding: 0 15px;
}

.title{
    @extend %AlGrey-Bold;
    font-size: 36px;
    line-height: 49px;
    padding: 0px 35px;
    border-bottom: 2px solid $blue;
    text-align: center;
    margin: 0 auto;
    margin-bottom: 56px;
    max-width: fit-content;
}
.section{
    padding-top: 40px;
}
.btn{
    padding: 13px 19px 13px 20px;
    background: transparent;
    border: 1px solid $blue;
    border-radius: 3px;
    color:$text;
    cursor: pointer;
    transition: all .5s ease-in-out;
    &:hover{
      color:$background;
      background-color: $blue;
    }
}
.line{
    width:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    &-desc{
      max-width: 983px;
      font-size: 18px;
      line-height: 25px;
      padding-right: 25px;
    }
  }
